*{
    color: rgb(17, 12, 31);
}

header{
    background-color: white;
}

.search{
    background: #E7E7E7 url("../images/searchIcon.svg") no-repeat center left 7px;
    color: black;
}

.login-button{
    background: rgb(41, 2, 71);
    color: white;
}

.div-button{
    background: rgb(41, 2, 71);
    color: white;
}
.catalog-button{
    border: 1px solid rgb(41, 2, 71);;
}
.category{
    border: 1px solid rgb(17, 12, 31);
}

.watch-all-button{
    border: 1px solid rgb(17, 12, 31);
}
.book-card{
    background-color: white;
}

.book-author{
    color: rgb(141, 141, 141);
}

.add-to-cart-button{
    background: rgb(41, 2, 71);
    color: white;
}

.menu{
    background-color: white;
}

.menu div:hover{
    background-color: #E6DCFF;
}