*{
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

.login-div{
    width: auto;
    height: auto;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    background: rgb(41, 2, 71);
    color: white;
    font-size: 15px;
    border: 0;
}
.login-button{
    padding: 11px 30px;
    border-radius: 5px;
    background: rgb(41, 2, 71);
    color: white;
    font-size: 15px;
    border: 0;
}

