@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Philosopher, serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin-top: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1180px;
}


header {
    display: flex;
    justify-content: space-between;
}



.logo {
    margin-right: 15px;
}

.burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border: 1px solid #290247;
    border-radius: 5px;
    margin-right: 32px;
}

.burger-button span {
    font-size: 15px;
    font-weight: 700;
    margin-right: 11px;
    display: none;
}

@media (min-width: 750px) {
    .burger-button span {
        display: block;
    }
}

header .container1 {
    display: flex;
    width: 70%;
}

.search {
    padding: 6px 12px 6px 35px;
    background: #E7E7E7 url("../images/search.svg") no-repeat center left 10px;
    border: none;
    border-radius: 5px;
    width: 60%;
    display: none;
}

.header-icons {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.header-text-icon {
    flex-direction: column;
    align-items: center;
    display: none;
}

.header-text-icon img {
    width: 24px;
    height: 24px;
}

.header-text-icon span {
    font-size: 12px;
    font-weight: 400;
}

@media (min-width: 750px) and (max-width: 1180px) {
    .header-icons {
        width: 284px;
    }
}

.categories {
    display: flex;
    overflow-x: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.tab {
    padding: 6px 16px;
    border: 1px solid #110C1F;
    border-radius: 10px;
    margin-right: 8px;
    transition: all 300ms ease 0ms;
}

.tab.active {
    background-color: #110C1F;
    color: white;
}

.categories::-webkit-scrollbar {
    display: none;
    width: 0;
}

.tabs-box {
    list-style: none;
}

@media (max-width: 699px) {
    .icon {
        display: none !important;
    }
}


.banner {
    background-image: url("../images/banner1-background.svg");
    background-color: #b9e6ff;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    flex: 0 0 30%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.banner h1 {
    font-size: 2.8vw;
    margin-bottom: 10px;
}

.banner h3 {
    font-size: 1.7vw;
    margin-bottom: 10px;
}

.login-button {
    padding: 8px 12px;
    background-color: #290247;
    border: none;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 699px) {
    .banner {
        display: none;
    }
}

@media (min-width: 830px) {
    .banner h1 {
        font-size: 23px;
    }

    .banner h3 {
        font-size: 14px;
    }
}



.book-card {
    background-color: white;
    padding: 8px;
    min-width: 242px;
    max-width: 242px;
    height: 155px;
    box-shadow: 1px 0 20px -5px rgba(31, 26, 45, 0.22);
    display: flex;
    margin-right: 10px;
    border-radius: 5px;
}

.book-img {
    margin-right: 8px;
}

.book-card .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.book-card .container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.rating-container {
    display: flex;
    width: 38px;
    justify-content: space-around;
}

.rating {
    font-size: 14px;
}

.star {
    width: 16px;
    height: 16px;
}

.favorites {
    width: 20px;
    height: 20px;
}

.book-name {
    font-size: 14px;
    color: #290247;
    margin-bottom: 4px;
}

.book-author {
    font-size: 12px;
    color: #8D8D8D;
    margin-bottom: 29px;
}

.book-card .container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-cart-button {
    padding: 8px 12px;
    background-color: #290247;
    border: none;
    color: white;
    border-radius: 5px;
}

.price {
    font-size: 20px;
}

.book-cards {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    overflow-x: auto;
}

@media (min-width: 1114px) and (max-width: 1180px) {
    .book-cards {
        display: flex;
        justify-content: space-between;
    }
}

.book-cards::-webkit-scrollbar {
    display: none;
    width: 0;
}

.title {
    font-size: 20px;
    font-weight: 400;
}

.best-sellers {
    background-color: #b9e6ff;
    background-image: url("../images/best-sellers-background.png");
    background-position: -80px -60px;
    height: 199px;
    padding: 32px 20px;
    margin-bottom: 30px;
}

.best-sellers .book-card:last-child {
    margin-right: 0;
}
.more-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.more-container {
    display: flex;
    align-items: center;
}

.more {
    font-size: 12px;
    font-weight: 400;
    margin-right: 8px;
}

.more-icon {
    width: 20px;
    height: 20px;
    border: 1px solid #110C1F;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.banners {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 92px;
}

@media (min-width: 972px) {
    .banners {
        display: flex;
        justify-content: space-between;
    }
}

.banners img {
    width: 300px;
    height: 208px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

@media (max-width: 660px) {
    .banners img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 661px) and (max-width: 970px) {
    .banners {
        display: flex;
        justify-content: space-between;
    }

    .banners img {
        width: 48%;
        height: auto;
    }
}

hr {
    border-top: 1px solid #290247;
    margin-bottom: 24px;
    width: 100%;
}


.block-title {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.block-title .arrow {
    transition: all 350ms ease 0ms;
}

.block-title.active .arrow {
    transform: rotate(180deg);
}

.block-content {
    display: none;
    padding: 10px 0 0 0;
}

.block-item {
    margin: 0 0 20px 0;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-icons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-container .footer-icons {
    width: 160px;
}

.footer-container .footer-icons img {
    width: 24px;
    height: 24px;
}

.more-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .logo {
    margin-right: 0;
    margin-bottom: 22px;
}

.more-info .footer-container:first-child {
    margin-right: 30px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.footer-container span {
    margin-bottom: 8px;
}

.bold-footer-text {
    font-size: 18px;
    font-weight: 700;
}

.footer-full-screen {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    color: #110C1F;
}

.footer-full-screen ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-full-screen ul:first-child li {
    margin-bottom: 8px;
}

.footer-full-screen ul:nth-child(2) li {
    margin-bottom: 12px;
}

.footer-full-screen ul:nth-child(3) li:first-child {
    margin-bottom: 3px
}

.footer-full-screen ul:nth-child(3) li:nth-child(2) {
    margin-bottom: 16px
}

.footer-full-screen ul:nth-child(3) li:nth-child(3) {
    margin-bottom: 12px
}

@media (min-width: 970px) {
    .footer-small-screen {
        display: none;
    }
    .footer-full-screen {
        display: flex;
    }
}

@media (max-width: 969px) {
    .footer-small-screen {
        display: block;
    }
    .footer-full-screen {
        display: none;
    }
}

@media (max-width: 1180px) {
    .header-icons button {
        display: none;
    }
}

@media (min-width: 1181px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .book-cards {
        display: flex;
        justify-content: space-between;
    }

    .best-sellers {
        width: 1140px;
        padding-left: calc(((100vw - 1160px) / 2));
        padding-right: calc((100vw - 1160px) / 2);
    }

    .container {
        width: 1148px;
    }

    .search {
        display: block;
    }

    .header-icon {
        display: none;
    }
    .header-icons {
        width: 250px;
        justify-content: space-between;
    }

    .header-text-icon {
        display: flex;
    }

    .burger-button {
        margin-right: 100px;
    }

}